/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
    background-color: transparent;
    border: none;
}

/* mycode */
/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0;
}

#logo {
    height: 64px;
    cursor: pointer;
}

#little-search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    min-width: 360px;
    padding: 0 8px;
    height: 48px;
    box-sizing: border-box;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.08);
    cursor: pointer;
}

#little-search *{
    cursor: pointer;
}

#little-search:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.listtle-search-button{
    padding: 0 16px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.listtle-search-button:nth-of-type(3){
    color: #717171;
}

#magnifying_glass_icon{
    width: 12px;
}

#magnifying_glass_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF385C;
    border-radius: 50%;
    flex-basis: 32px;
    height: 32px;
    flex-shrink: 0;
}

#header-right-section{
    display: flex;
    gap: 8px;
}

#profile-section{
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 12px;
    gap: 12px;
}

#profile-section:hover img{
    cursor: pointer;
}

#profile-section:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

.divider{
    flex-basis: 1px;
    flex-shrink: 0;
    background-color: #DDDDDD;
    height: 24px;
}

#do-airbnb{
    font-size: 14px;
    color: #222222;
    font-weight: 600;
    padding: 12px;
    cursor: pointer;
    border-radius: 22px;
}

#do-airbnb:hover{
    
    background-color: #f7f7f7;
}

/* category */
.white-wrapper1{
    width: 56px;
    height: 90px;
    background-color: #ffffff;
    position: absolute;
    top: 6;
    z-index: 2;
}

.white-wrapper2{
    width: 56px;
    height: 90px;
    background-color: #ffffff;
    position: absolute;
    top: 6;
    right: 0;
    z-index: 2;
}

.scroll-wrapper{
    border: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 20;
}

.scroll-wrapper:hover{
    box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 6px 16px rgba(0,0,0,0.12) !important;
}

#left-scroll{
    position: absolute;
    top: 7.7rem;
    transform: translate(66%,-55%);
    left: 0;
}

#right-scroll{
    position: absolute;
    top: 7.7rem;
    transform: translate(-50%,-50%);
    right: 0;
}

#category-bar{
    display: flex;
    position: relative;
    left: 4.8%;
    gap: 32px;
    padding: 20px 40px;
    z-index: 1;
}

#category-bar::-webkit-scrollbar{
    display: none;
}

.category-button{
    color: #717171;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
}

.active-img{
    display: none;
}

.category-button:hover{
    color: #000000;
    cursor: pointer;
    border-bottom: 2px solid #DDDDDD;
}

.category-button:hover .active-img{
    display: inline-block;
}

.category-button:hover .inactive-img{
    display: none;
}

.category-button img{
    width: 28px;
}

#active-category-button{
    color: #000000;
    border-bottom: 2px solid #000000;    
}

.active-category-button:hover .active-img{
    display: inline-block;
}

.active-category-button:hover .inactive-img{
    display: none;
}

/* 리스트 아이템 */
main{
    display: flex;
    justify-content: center;
    padding: 24px 80px;
}

.place-items-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 308px);
    justify-items: center;
    gap : 40px 24px;
}

.place-img-wrapper{
    position: relative;
    width: 308px;
    height: 293px;
    overflow: hidden;
    border-radius: 23px;

}

.place-img-wrapper img{
    width: 500px;
    height: 500px;
    cursor: pointer;
}

.place-img-wrapper .heart-icon{
    width: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 24px;
    cursor: pointer;
}

.description-section{
    font-size: 15px;
    color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 13px;
}


.description-section-title{
    font-weight: 600;
}

.heart-icon:hover{
    transform: scale(0.7);
    transition: transform 0.25s ease;
}

#floating-map-button{
    background-color: #222222;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 14px 19px;
    border-radius: 24px;
    position: fixed;
    bottom: 125px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

#floating-map-button:hover{
    box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 6px 16px rgba(0,0,0,0.12) !important;
    transform: translateX(-50%) scale(1.04);
}